# environment
.idea/
*.iml
target/
venv
# Spark
spark-warehouse
# local
capstone-dataset
result_data
# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
*.pyc
*.pyo
# other
notes.txt
.DS_Store